@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.main {
    padding: 40px 30px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    height: auto;
    background-color: #2B2B2B;
}

.second-screen__header {
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    color: white;
    font-family: 'work sans';
}

.second-screen__heading {
    margin: 0 0 10px;
    font-size: 28px;
    font-weight: 600;
    line-height: 39.2px;
}

.second-screen__description {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
}

.second-screen__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.collection-cards {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 15px;
}

.photo {
    width: calc(33% - 10px);
    height: auto;
    border-radius: 20px;
    margin-right: 15px;

}

.photo:first-child {
    margin: 0 0 15px;
    width: 100%;
    height: auto;
}

.photo:last-child { 
    margin: 0;
    border-radius: 20px;
    background-color: #A259FF;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    
}


.collection-footer__title {
    margin: 0 0 15px;
    font-family: 'work sans';
    font-size: 22px;
    font-weight: 600;
    color: white;
    line-height: 30px;
}

.photo__count {
    margin: 0;
    font-family: Space Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: center;

}


.collection-footer__description {
    display: flex;
    align-items: center;
}

.collection-footer__avatar {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.collection-footer__name {
    margin: 0;
    font-family: 'work sans';
    font-size: 16px;
    font-weight: 400;
    line-height: 22.4px;
    color: white;
}