@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans:wght@400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;    
}

.wrapper {
    width: 100%;
    height: 100%;
    background-color: #2B2B2B;
}

.header {
    width: 100%;
    color: #eee;
    padding: 15px 30px;
    margin-top: 15px;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
    min-width: 350px;
}

.logo {
    display: flex;
}

.storefrontLogo {
    width: 24px;
    height: 24px;
}

.nftMarketPlaceName { 
    width: 150px;
    height: 15px;
    margin-top: 6px;
    padding-left: 4px;
}

.burger {
    width: 24px;
    height: 24px;
}

.content {
    padding: 0 30px;
    width: 100%;
    color: #eee;
}

.content h4 {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 140%;
}

.content p {
    font-family: 'Work Sans';
    font-weight: 400;
    font-size: 16px;
}

.spaceWalking {
    border-radius: 20px 20px 0px 0px;
    width: 100%;
    height: 206px;
    padding: 0 30px;
}

.spaceWalkingContainer {
    height: 109px;
    width: calc(100%-60px);
    background-color: #3B3B3B;
    border-radius: 0px 0px 20px 20px;;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 40px;
}

.spaceWalkingContainer h5 {
    color: #EEE;
    font-family: 'Work Sans';
    font-size: 22px;
    font-weight: 600;
    line-height: 31px;
    margin-bottom: 10px;
    margin-top: 0;
    padding: 22px 20px 0 20px;
}

.spaceWalkingArtist {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 10px 20px 24px;
}

.spaceWalkingArtist img {
    height: 24px;
    width: 24px;
}

.spaceWalkingArtist p {
    color: #EEE;
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    padding-left: 12px;
    margin: 0;
}

.buttonContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.button {
    width: 315px;
    height: 60px;
    color: #eee;
    background-color: #a259ff;
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    padding: 0px 50px 0px 50px;
    font-family: 'work sans';
    font-size: 16px;
    line-height: 22px;
    border-radius: 20px;
    border: none;
    margin-bottom: 40px;
}

.button img {
    height: 20px;
    width: 20px;
}

.statisticsFlexConainer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 0 auto;
    padding: 0 30px;
    color: #EEE;
}

.statisticsFlexItem {
    width: 33.3%;
    align-items: center;
}

.amount {
    font-family: 'Space Mono', 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 700;
    margin: 0;
}

.name {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
}
